.idea/
.DS_Store
.gradle/
.project
.settings/
.metadata/
.classpath
.class
target/
bin/
*.iml
build/
archive/
classes/
tmp/
.recommenders/
jvg-examples/
svg-examples/
*.jar
*.zip
hs_err_pid*
tasks.txt
