.idea/
.DS_Store
.gradle/
.project
.settings/
.metadata/
.classpath
.class
target/
bin/
*.iml
build/
archive/
tmp/
.recommenders/
*.zip
hs_err_pid*
/jvg/jvg-examples/
/jvg/svg-examples/
/jvg/tasks.txt
